<% layout("/adminIncludes/adminBoilerplate") %>

<div class="fixed row top-16 left-0 w-full">
    <div class="alert alert-danger col-4 offset-4" role="alert">
      <h4> <%=message%> </h4>
    </div>
</div>

<!--this page will only admin errors-->