<%- layout("/layouts/boilerplate") %>


<div class="w-full min-h-[calc(100vh-100px)] flex px-20">
    <!--left side create -->
    <div class="w-1/2 flex items-center justify-center ">
        <div class="w-[510px] px-8 py-24 mt-4 shadow">
            <h3 class="text-4xl">Welcome to <span class="text-blue-400 font-semibold">Scatch</span> </h3>
            <h4 class="text-2xl mb-5">&nbsp;create your account</h4>

            <form class="needs-validation" action="/users/register" method="post" novalidate>
                <div class="flex flex-col mb-3">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[2px] rounded-md border-zinc-200 outline-none focus:border-sky-400" type="text" placeholder="Full Name" name="fullname" required>
                    
                    <div class="invalid-feedback font-bold">Please enter your name!</div>
                </div>

                <div class="flex flex-col mb-3">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[2px] rounded-md border-zinc-200 outline-none focus:border-sky-400" type="email" placeholder="Email" name="email" required>

                    <div class="invalid-feedback font-bold">Please enter your email!</div>
                </div>

                <div class="h-[70px]">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[2px] rounded-md border-zinc-200 outline-none focus:border-sky-400" type="password" placeholder="Password" name="password" required>

                    <div class="invalid-feedback font-bold">Please enter your password!</div>
                </div>

                <input class="px-5 py-3 rounded-full mt-2 bg-indigo-500 text-white hover:bg-blue-800" type="submit" value="create my account">
            </form>
        </div>
    </div>
    
    <!--right side login-->
    <div class="w-1/2 flex items-center justify-center">
        <div class="w-[510px] px-8 py-32 mt-4 shadow">
            <h4 class="text-2xl mb-5 ml-28">Login Your Account</h4>

            <form class="needs-validation" action="/users/login" method="post" novalidate>

                <div class="flex flex-col mb-4">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[2px] rounded-md border-zinc-200 outline-none focus:border-sky-400" type="email" placeholder="Email" name="email" required>

                    <div class="invalid-feedback font-bold">Please enter your email!</div>
                </div>

                <!--<div class="h-[70px] mb-4">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[1px] rounded-md border-zinc-200" type="password" placeholder="Password" name="password" required>

                    <div class="invalid-feedback font-bold">Please enter your password!</div>
                </div>-->

                <div class="h-[70px] mb-4">
                    <input class="bg-zinc-100 block w-full px-3 py-2 border-[2px] rounded-md border-zinc-200 outline-none focus:border-sky-400" type="password" placeholder="Password" name="password" required>

                    <div class="invalid-feedback font-bold">Please enter your password!</div>
                </div>

<!--             
  class="invalid:border-pink-500 invalid:text-pink-600 focus:border-sky-500 focus:outline focus:outline-sky-500 focus:invalid:border-pink-500 focus:invalid:outline-pink-500-->

                <input class="px-5 py-3 mb-2 rounded-full bg-blue-500 text-white hover:bg-indigo-500" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>